<div class="file-editor-page" data-server-id="{{ server.id }}" data-page-title="Edit File">

    <div class="file-editor-toolbar">

        <div>

            <strong>
                {{ filename }}
            </strong>

            <small>
                {{ server.name }} · {{ file_path }}
            </small>

        </div>


        <a
            href="/servers/{{ server.id }}/files"
            class="button"
        >
            Back to Files
        </a>

    </div>


    <form
        method="post"
        action="/servers/{{ server.id }}/files/edit"
    >

        <input
            type="hidden"
            name="path"
            value="{{ file_path }}"
        >

        <textarea
            name="contents"
            class="file-editor"
            spellcheck="false"
        >{{ contents }}</textarea>


        <div class="file-editor-actions">

            <button class="button" type="submit">
                Save File
            </button>

        </div>

    </form>

</div>
